{% extends 'base.html.twig' %}

{% block body %}
    <h1>405 Method Not Allowed</h1>

    <p>
        La méthode utilisée pour la requête est connue du serveur mais elle n'est pas supportée par la ressource ciblée. <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}