{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur 500</h1>

    <p>
        La requête envoyée par le navigateur n'a pas pu être traitée pour une raison qui n'a pas pu être identifiée <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}